.ANSWERED {
    color: darkgreen;
}
.NO_ANSWER {
    color:red;
}
.HANGUP {
    color: orange;
}
audio::-webkit-media-controls-panel {
    background-color: cadetblue;

}

audio::-webkit-media-controls-timeline {
    display: none;
}

audio {
    width: 150px;
    height: 30px;
}
td {
    text-align: center;
}