<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="report_new.js"></script>
    <script src="download.js"></script>
    <title>Сводная статистика звонков</title>
</head>
<body>
<div class="container" ng-controller="indexController">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Статистика ежедневных звонков</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="stat.html">Сводная статистика за период</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="reports.html">Выгрузка отчетов</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://10.1.5.105:8081/index.html" style="color: cornflowerblue">Старая бд</a>
                </li>
            </ul>
        </div>
    </nav>
    <h3>Сводная статистика за период</h3>
<!--    <h5 style="color: #dc0101">Старая БД. Здесь данные только до 11.11.2022</h5>-->
    <h4>Выберите дату начала и дату окончания для отчета</h4>
    <form ng-submit="searchStats()">
        <div class="row form-group">
            <label for="from" class="col-sm-1 col-form-label">Дата начала</label>
            <div class="col-sm-4">
                <div class="input-group date" id="from" >
                    <input type="text" class="form-control" ng-model="newDate.dateFrom">
                    <span class="input-group-append">
                            <span class="input-group-text bg-white">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </span>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <label for="to" class="col-sm-1 col-form-label">Дата окончания</label>
            <div class="col-sm-4">
                <div class="input-group date" id="to" >
                    <input type="text" class="form-control" ng-model="newDate.dateTo">
                    <span class="input-group-append">
                            <span class="input-group-text bg-white">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </span>
                </div>
            </div>
            <label for="groupSelector">Номер группы</label>
            <div class="col-sm-4">
                <select class="form-control form-control-sm" ng-model="newDate.group" id="groupSelector">
                    <option value="1111">1111 - Техническая поддержка ИТ</option>
                    <option value="1112">1112 - Ресепшн</option>
                    <option value="1113">1113 - Управление по связям в общественностью</option>
                    <option value="1114">1114 - Department of Additional Profession</option>
                    <option value="1115">1115 - Department of Educational Programs</option>
                    <option value="1116">1116 - Department of Additional Profession</option>
                    <option value="1117">1117 - Department of Additional Profession</option>
                    <option value="1118">1118 - Управление тех. сопровождения</option>
                    <option value="1119">1119 - Отдел социальных проектов</option>
                    <option value="1120">1120 - Управление по подбору персонала</option>
                    <option value="1122">1122 - Секретариат Минская</option>
                </select>
            </div>
        </div>
        <button class="btn btn-warning" type="submit">Поиск</button>
    </form>
    <h3>Отчет по звонкам в разрезе временных интервалов</h3>
    <button ng-if="Stats.totalCalls > 0" class="btn btn-secondary" onclick="exportTableToCSV('stat_report.csv', 'report1')">Скачать отчет</button>
    <table class="report1 table table-hover">
        <tr style="font-weight: bold">
            <td>Время</td>
            <td>Отвечено</td>
            <td>Пропущено в очереди</td>
            <td>Пропущено операторами</td>
            <td>Всего пропущено</strong></td>
            <td>Всего звонков</td>
            <td>% отвеченных</td>
            <td>Среднее время ожидания</td>
            <td>Среднее время разговора</td>
        </tr>
        <tr style="font-weight: bold">
            <td>Итого:</td>
            <td>{{Stats.answeredCount}}</td>
            <td>{{Stats.nonAnsweredByQueueCount}}</td>
            <td>{{Stats.nonAnsweredByOperatorsCount}}</td>
            <td>{{Stats.totalNonAnsweredCalls}}</td>
            <td>{{Stats.totalCalls}}</td>
            <td>{{Stats.totalAnsByPercent}}</td>
            <td>{{Stats.waitTimeAVG}}</td>
            <td>{{Stats.talkTimeAVG}}</td>
        </tr>
        <tr ng-repeat="item in Stats.hourStats">
            <td>{{item.hour}}</td>
            <td>{{item.answered}}</td>
            <td>{{item.naQueue}}</td>
            <td>{{item.naOperator}}</td>
            <td>{{item.naTotal}}</td>
            <td>{{item.total}}</td>
            <td>{{item.answeredPercent}}</td>
            <td>{{item.waitTimeAVG}}</td>
            <td>{{item.talkTimeAVG}}</td>
        </tr>
    </table>
    <h3>Отчет по среднему кол-ву звонков за день</h3>
    <button ng-if="Stats.totalCalls > 0" class="btn btn-secondary" onclick="exportTableToCSV('avg_report.csv', 'report2')">Скачать отчет</button>
    <table class="report2 table table-hover">
        <tr style="font-weight: bold">
            <td>Время</td>
            <td>Отвечено</td>
            <td>Пропущено в очереди</td>
            <td>Пропущено операторами</td>
            <td>Всего пропущено</strong></td>
            <td>Всего звонков</td>
        </tr>
        <tr style="font-weight: bold">
            <td>Итого:</td>
            <td>{{Stats.answeredCountAVG}}</td>
            <td>{{Stats.nonAnsweredByQueueCountAVG}}</td>
            <td>{{Stats.nonAnsweredByOperatorsCountAVG}}</td>
            <td>{{Stats.totalNonAnsweredCallsAVG}}</td>
            <td>{{Stats.totalCallsAVG}}</td>
        </tr>
        <tr ng-repeat="item in Stats.hourStats">
            <td>{{item.hour}}</td>
            <td>{{item.answeredAVG}}</td>
            <td>{{item.naQueueAVG}}</td>
            <td>{{item.naOperatorAVG}}</td>
            <td>{{item.naTotalAVG}}</td>
            <td>{{item.totalAVG}}</td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    $(function() {
        $('#from').datepicker({
            format: "yyyy-mm-dd"
        });
        $('#to').datepicker({
            format: "yyyy-mm-dd"
        });
    });
</script>
</body>
</html>