<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="report_new.js"></script>
    <title>Сводная статистика звонков</title>
</head>
<body>
<div class="container" ng-controller="indexController">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Статистика ежедневных звонков</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="stat.html">Сводная статистика за период</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="reports.html">Выгрузка отчетов</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://10.1.5.105:8081/index.html" style="color: cornflowerblue">Старая бд</a>
                </li>
            </ul>
        </div>
    </nav>
    <h3>Сводная статистика за период</h3>
<!--    <h5 style="color: #dc0101">Старая БД. Здесь данные только до 11.11.2022</h5>-->
    <h4>Выберите дату начала и дату окончания для отчета</h4>
    <form ng-submit="searchStats()">
        <div class="row form-group">
            <label for="from" class="col-sm-1 col-form-label">Дата начала</label>
            <div class="col-sm-4">
                <div class="input-group date" id="from" >
                    <input type="text" class="form-control" ng-model="newDate.dateFrom">
                    <span class="input-group-append">
                            <span class="input-group-text bg-white">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </span>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <label for="to" class="col-sm-1 col-form-label">Дата окончания</label>
            <div class="col-sm-4">
                <div class="input-group date" id="to" >
                    <input type="text" class="form-control" ng-model="newDate.dateTo">
                    <span class="input-group-append">
                            <span class="input-group-text bg-white">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </span>
                </div>
            </div>
            <label for="groupSelector">Номер группы</label>
            <div class="col-sm-4">
                <select class="form-control form-control-sm" ng-model="newDate.group" id="groupSelector">
                    <option value="1111">1111 - Техническая поддержка ИТ</option>
                    <option value="1112">1112 - Ресепшн</option>
                    <option value="1113">1113 - Управление по связям в общественностью</option>
                    <option value="1114">1114 - Department of Additional Profession</option>
                    <option value="1115">1115 - Department of Educational Programs</option>
                    <option value="1116">1116 - Department of Additional Profession</option>
                    <option value="1117">1117 - Department of Additional Profession</option>
                    <option value="1118">1118 - Управление тех. сопровождения</option>
                    <option value="1119">1119 - Отдел социальных проектов</option>
                    <option value="1120">1120 - Управление по подбору персонала</option>
                    <option value="1122">1122 - Секретариат Минская</option>
                </select>
            </div>
        </div>
        <button class="btn btn-warning" type="submit">Поиск</button>
    </form>
    <h3>Отчет по звонкам в разрезе временных интервалов</h3>
    <table class="table table-hover">
        <tr style="font-weight: bold">
            <td>Время</td>
            <td>Отвечено</td>
            <td>Пропущено в очереди</td>
            <td>Пропущено операторами</td>
            <td>Всего пропущено</strong></td>
            <td>Всего звонков</td>
        </tr>
        <tr style="font-weight: bold">
            <td>Итого:</td>
            <td>{{Stats.answeredCount}}</td>
            <td>{{Stats.nonAnsweredByQueueCount}}</td>
            <td>{{Stats.nonAnsweredByOperatorsCount}}</td>
            <td>{{Stats.totalNonAnsweredCalls}}</td>
            <td>{{Stats.totalCalls}}</td>
        </tr>
        <tr>
            <td>До 08:00</td>
            <td style="text-align: center">{{Stats.answeredHours[0]}}</td>
            <td>{{Stats.nonAQHours[0]}}</td>
            <td>{{Stats.nonAOperHours[0]}}</td>
            <td>{{Stats.totalNonAHours[0]}}</td>
            <td>{{Stats.totalHours[0]}}</td>
        </tr>
        <tr>
            <td>08:00 - 09:00</td>
            <td>{{Stats.answeredHours[1]}}</td>
            <td>{{Stats.nonAQHours[1]}}</td>
            <td>{{Stats.nonAOperHours[1]}}</td>
            <td>{{Stats.totalNonAHours[1]}}</td>
            <td>{{Stats.totalHours[1]}}</td>
        </tr>
        <tr>
            <td>09:00 - 10:00</td>
            <td>{{Stats.answeredHours[2]}}</td>
            <td>{{Stats.nonAQHours[2]}}</td>
            <td>{{Stats.nonAOperHours[2]}}</td>
            <td>{{Stats.totalNonAHours[2]}}</td>
            <td>{{Stats.totalHours[2]}}</td>
        </tr>
        <tr>
            <td>10:00 - 11:00</td>
            <td>{{Stats.answeredHours[3]}}</td>
            <td>{{Stats.nonAQHours[3]}}</td>
            <td>{{Stats.nonAOperHours[3]}}</td>
            <td>{{Stats.totalNonAHours[3]}}</td>
            <td>{{Stats.totalHours[3]}}</td>
        </tr>
        <tr>
            <td>11:00 - 12:00</td>
            <td>{{Stats.answeredHours[4]}}</td>
            <td>{{Stats.nonAQHours[4]}}</td>
            <td>{{Stats.nonAOperHours[4]}}</td>
            <td>{{Stats.totalNonAHours[4]}}</td>
            <td>{{Stats.totalHours[4]}}</td>
        </tr>
        <tr>
            <td>12:00 - 13:00</td>
            <td>{{Stats.answeredHours[5]}}</td>
            <td>{{Stats.nonAQHours[5]}}</td>
            <td>{{Stats.nonAOperHours[5]}}</td>
            <td>{{Stats.totalNonAHours[5]}}</td>
            <td>{{Stats.totalHours[5]}}</td>
        </tr>
        <tr>
            <td>13:00 - 14:00</td>
            <td>{{Stats.answeredHours[6]}}</td>
            <td>{{Stats.nonAQHours[6]}}</td>
            <td>{{Stats.nonAOperHours[6]}}</td>
            <td>{{Stats.totalNonAHours[6]}}</td>
            <td>{{Stats.totalHours[6]}}</td>
        </tr>
        <tr>
            <td>14:00 - 15:00</td>
            <td>{{Stats.answeredHours[7]}}</td>
            <td>{{Stats.nonAQHours[7]}}</td>
            <td>{{Stats.nonAOperHours[7]}}</td>
            <td>{{Stats.totalNonAHours[7]}}</td>
            <td>{{Stats.totalHours[7]}}</td>
        </tr>
        <tr>
            <td>15:00 - 16:00</td>
            <td>{{Stats.answeredHours[8]}}</td>
            <td>{{Stats.nonAQHours[8]}}</td>
            <td>{{Stats.nonAOperHours[8]}}</td>
            <td>{{Stats.totalNonAHours[8]}}</td>
            <td>{{Stats.totalHours[8]}}</td>
        </tr>
        <tr>
            <td>16:00 - 17:00</td>
            <td>{{Stats.answeredHours[9]}}</td>
            <td>{{Stats.nonAQHours[9]}}</td>
            <td>{{Stats.nonAOperHours[9]}}</td>
            <td>{{Stats.totalNonAHours[9]}}</td>
            <td>{{Stats.totalHours[9]}}</td>
        </tr>
        <tr>
            <td>17:00 - 18:00</td>
            <td>{{Stats.answeredHours[10]}}</td>
            <td>{{Stats.nonAQHours[10]}}</td>
            <td>{{Stats.nonAOperHours[10]}}</td>
            <td>{{Stats.totalNonAHours[10]}}</td>
            <td>{{Stats.totalHours[10]}}</td>
        </tr>
        <tr>
            <td>18:00 - 19:00</td>
            <td>{{Stats.answeredHours[11]}}</td>
            <td>{{Stats.nonAQHours[11]}}</td>
            <td>{{Stats.nonAOperHours[11]}}</td>
            <td>{{Stats.totalNonAHours[11]}}</td>
            <td>{{Stats.totalHours[11]}}</td>
        </tr>
        <tr>
            <td>19:00 - 20:00</td>
            <td>{{Stats.answeredHours[12]}}</td>
            <td>{{Stats.nonAQHours[12]}}</td>
            <td>{{Stats.nonAOperHours[12]}}</td>
            <td>{{Stats.totalNonAHours[12]}}</td>
            <td>{{Stats.totalHours[12]}}</td>
        </tr>
        <tr>
            <td>20:00 - 21:00</td>
            <td>{{Stats.answeredHours[13]}}</td>
            <td>{{Stats.nonAQHours[13]}}</td>
            <td>{{Stats.nonAOperHours[13]}}</td>
            <td>{{Stats.totalNonAHours[13]}}</td>
            <td>{{Stats.totalHours[13]}}</td>
        </tr>
        <tr>
            <td>21:00 - 22:00</td>
            <td>{{Stats.answeredHours[14]}}</td>
            <td>{{Stats.nonAQHours[14]}}</td>
            <td>{{Stats.nonAOperHours[14]}}</td>
            <td>{{Stats.totalNonAHours[14]}}</td>
            <td>{{Stats.totalHours[14]}}</td>
        </tr>
        <tr>
            <td>После 22:00</td>
            <td>{{Stats.answeredHours[15]}}</td>
            <td>{{Stats.nonAQHours[15]}}</td>
            <td>{{Stats.nonAOperHours[15]}}</td>
            <td>{{Stats.totalNonAHours[15]}}</td>
            <td>{{Stats.totalHours[15]}}</td>
        </tr>
    </table>
    <h3>Отчет по среднему кол-ву звонков за день</h3>
    <table class="table table-hover">
        <tr style="font-weight: bold">
            <td>Время</td>
            <td>Отвечено</td>
            <td>Пропущено в очереди</td>
            <td>Пропущено операторами</td>
            <td>Всего пропущено</strong></td>
            <td>Всего звонков</td>
        </tr>
        <tr style="font-weight: bold">
            <td>Итого:</td>
            <td>{{Stats.answeredCountAVG}}</td>
            <td>{{Stats.nonAnsweredByQueueCountAVG}}</td>
            <td>{{Stats.nonAnsweredByOperatorsCountAVG}}</td>
            <td>{{Stats.totalNonAnsweredCallsAVG}}</td>
            <td>{{Stats.totalCallsAVG}}</td>
        </tr>
        <tr>
            <td>До 08:00</td>
            <td>{{Stats.answeredHoursAVG[0]}}</td>
            <td>{{Stats.nonAQHoursAVG[0]}}</td>
            <td>{{Stats.nonAOperHoursAVG[0]}}</td>
            <td>{{Stats.totalNonAHoursAVG[0]}}</td>
            <td>{{Stats.totalHoursAVG[0]}}</td>
        </tr>
        <tr>
            <td>08:00 - 09:00</td>
            <td>{{Stats.answeredHoursAVG[1]}}</td>
            <td>{{Stats.nonAQHoursAVG[1]}}</td>
            <td>{{Stats.nonAOperHoursAVG[1]}}</td>
            <td>{{Stats.totalNonAHoursAVG[1]}}</td>
            <td>{{Stats.totalHoursAVG[1]}}</td>
        </tr>
        <tr>
            <td>09:00 - 10:00</td>
            <td>{{Stats.answeredHoursAVG[2]}}</td>
            <td>{{Stats.nonAQHoursAVG[2]}}</td>
            <td>{{Stats.nonAOperHoursAVG[2]}}</td>
            <td>{{Stats.totalNonAHoursAVG[2]}}</td>
            <td>{{Stats.totalHoursAVG[2]}}</td>
        </tr>
        <tr>
            <td>10:00 - 11:00</td>
            <td>{{Stats.answeredHoursAVG[3]}}</td>
            <td>{{Stats.nonAQHoursAVG[3]}}</td>
            <td>{{Stats.nonAOperHoursAVG[3]}}</td>
            <td>{{Stats.totalNonAHoursAVG[3]}}</td>
            <td>{{Stats.totalHoursAVG[3]}}</td>
        </tr>
        <tr>
            <td>11:00 - 12:00</td>
            <td>{{Stats.answeredHoursAVG[4]}}</td>
            <td>{{Stats.nonAQHoursAVG[4]}}</td>
            <td>{{Stats.nonAOperHoursAVG[4]}}</td>
            <td>{{Stats.totalNonAHoursAVG[4]}}</td>
            <td>{{Stats.totalHoursAVG[4]}}</td>
        </tr>
        <tr>
            <td>12:00 - 13:00</td>
            <td>{{Stats.answeredHoursAVG[5]}}</td>
            <td>{{Stats.nonAQHoursAVG[5]}}</td>
            <td>{{Stats.nonAOperHoursAVG[5]}}</td>
            <td>{{Stats.totalNonAHoursAVG[5]}}</td>
            <td>{{Stats.totalHoursAVG[5]}}</td>
        </tr>
        <tr>
            <td>13:00 - 14:00</td>
            <td>{{Stats.answeredHoursAVG[6]}}</td>
            <td>{{Stats.nonAQHoursAVG[6]}}</td>
            <td>{{Stats.nonAOperHoursAVG[6]}}</td>
            <td>{{Stats.totalNonAHoursAVG[6]}}</td>
            <td>{{Stats.totalHoursAVG[6]}}</td>
        </tr>
        <tr>
            <td>14:00 - 15:00</td>
            <td>{{Stats.answeredHoursAVG[7]}}</td>
            <td>{{Stats.nonAQHoursAVG[7]}}</td>
            <td>{{Stats.nonAOperHoursAVG[7]}}</td>
            <td>{{Stats.totalNonAHoursAVG[7]}}</td>
            <td>{{Stats.totalHoursAVG[7]}}</td>
        </tr>
        <tr>
            <td>15:00 - 16:00</td>
            <td>{{Stats.answeredHoursAVG[8]}}</td>
            <td>{{Stats.nonAQHoursAVG[8]}}</td>
            <td>{{Stats.nonAOperHoursAVG[8]}}</td>
            <td>{{Stats.totalNonAHoursAVG[8]}}</td>
            <td>{{Stats.totalHoursAVG[8]}}</td>
        </tr>
        <tr>
            <td>16:00 - 17:00</td>
            <td>{{Stats.answeredHoursAVG[9]}}</td>
            <td>{{Stats.nonAQHoursAVG[9]}}</td>
            <td>{{Stats.nonAOperHoursAVG[9]}}</td>
            <td>{{Stats.totalNonAHoursAVG[9]}}</td>
            <td>{{Stats.totalHoursAVG[9]}}</td>
        </tr>
        <tr>
            <td>17:00 - 18:00</td>
            <td>{{Stats.answeredHoursAVG[10]}}</td>
            <td>{{Stats.nonAQHoursAVG[10]}}</td>
            <td>{{Stats.nonAOperHoursAVG[10]}}</td>
            <td>{{Stats.totalNonAHoursAVG[10]}}</td>
            <td>{{Stats.totalHoursAVG[10]}}</td>
        </tr>
        <tr>
            <td>18:00 - 19:00</td>
            <td>{{Stats.answeredHoursAVG[11]}}</td>
            <td>{{Stats.nonAQHoursAVG[11]}}</td>
            <td>{{Stats.nonAOperHoursAVG[11]}}</td>
            <td>{{Stats.totalNonAHoursAVG[11]}}</td>
            <td>{{Stats.totalHoursAVG[11]}}</td>
        </tr>
        <tr>
            <td>19:00 - 20:00</td>
            <td>{{Stats.answeredHoursAVG[12]}}</td>
            <td>{{Stats.nonAQHoursAVG[12]}}</td>
            <td>{{Stats.nonAOperHoursAVG[12]}}</td>
            <td>{{Stats.totalNonAHoursAVG[12]}}</td>
            <td>{{Stats.totalHoursAVG[12]}}</td>
        </tr>
        <tr>
            <td>20:00 - 21:00</td>
            <td>{{Stats.answeredHoursAVG[13]}}</td>
            <td>{{Stats.nonAQHoursAVG[13]}}</td>
            <td>{{Stats.nonAOperHoursAVG[13]}}</td>
            <td>{{Stats.totalNonAHoursAVG[13]}}</td>
            <td>{{Stats.totalHoursAVG[13]}}</td>
        </tr>
        <tr>
            <td>21:00 - 22:00</td>
            <td>{{Stats.answeredHoursAVG[14]}}</td>
            <td>{{Stats.nonAQHoursAVG[14]}}</td>
            <td>{{Stats.nonAOperHoursAVG[14]}}</td>
            <td>{{Stats.totalNonAHoursAVG[14]}}</td>
            <td>{{Stats.totalHoursAVG[14]}}</td>
        </tr>
        <tr>
            <td>После 22:00</td>
            <td>{{Stats.answeredHoursAVG[15]}}</td>
            <td>{{Stats.nonAQHoursAVG[15]}}</td>
            <td>{{Stats.nonAOperHoursAVG[15]}}</td>
            <td>{{Stats.totalNonAHoursAVG[15]}}</td>
            <td>{{Stats.totalHoursAVG[15]}}</td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    $(function() {
        $('#from').datepicker({
            format: "yyyy-mm-dd"
        });
        $('#to').datepicker({
            format: "yyyy-mm-dd"
        });
    });
</script>
</body>
</html>